In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
import numpy as np

In [35]:

url = 'http://www.fullemployment.net/evi/3.0/SA2_profile_2016.php?SA2_code=124041467'

r = requests.get(url)
html = r.text

soup = BeautifulSoup(html)
table = soup.find('table', {"class": "table_list"})
rows = table.find_all('tr')
data = []
for row in rows[1:]:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

result = pd.DataFrame(data)

In [3]:
from datetime import datetime, timedelta

#generated_dates = pd.date_range(datetime.today(), periods=5).tolist()

generated_dates = pd.date_range(start='10/2/2020', end = datetime.today() - timedelta(days=1)).tolist()

#generated_dates = pd.date_range(start='7/2/2020', end = datetime.today()).tolist()
dates = []
for date in generated_dates:
    new=date.strftime("%d-%B-%Y")
    if new[0] == '0':
        new = new[1:]
    dates.append(new)
    
print(dates)

dates[1]

['2-October-2020', '3-October-2020', '4-October-2020', '5-October-2020', '6-October-2020', '7-October-2020', '8-October-2020', '9-October-2020', '10-October-2020', '11-October-2020', '12-October-2020', '13-October-2020', '14-October-2020', '15-October-2020', '16-October-2020', '17-October-2020', '18-October-2020', '19-October-2020', '20-October-2020', '21-October-2020', '22-October-2020', '23-October-2020', '24-October-2020', '25-October-2020', '26-October-2020', '27-October-2020', '28-October-2020', '29-October-2020', '30-October-2020', '31-October-2020', '1-November-2020', '2-November-2020', '3-November-2020', '4-November-2020', '5-November-2020', '6-November-2020', '7-November-2020', '8-November-2020', '9-November-2020', '10-November-2020', '11-November-2020', '12-November-2020', '13-November-2020', '14-November-2020', '15-November-2020', '16-November-2020', '17-November-2020']

'3-October-2020'

In [25]:
generated_dates

[Timestamp('2020-10-02 00:00:00', freq='D'),
 Timestamp('2020-10-03 00:00:00', freq='D'),
 Timestamp('2020-10-04 00:00:00', freq='D'),
 Timestamp('2020-10-05 00:00:00', freq='D'),
 Timestamp('2020-10-06 00:00:00', freq='D'),
 Timestamp('2020-10-07 00:00:00', freq='D'),
 Timestamp('2020-10-08 00:00:00', freq='D'),
 Timestamp('2020-10-09 00:00:00', freq='D'),
 Timestamp('2020-10-10 00:00:00', freq='D'),
 Timestamp('2020-10-11 00:00:00', freq='D'),
 Timestamp('2020-10-12 00:00:00', freq='D')]

In [23]:
m = dates[1]
m

'3-October-2020'

In [24]:
url = 'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-' + m.strftime("%A-%d-%B")
url

AttributeError: 'str' object has no attribute 'strftime'

In [7]:
url0 = 'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-' + dates0[dates.index(date)]
url = url0[:-5]

In [8]:
url

'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-Sunday-18-October'

In [27]:
generated_dates = pd.date_range(start='11/7/2020', end = '11/8/2020').tolist()
dates = []
dates0 = []
for date in generated_dates:
    new=date.strftime("%d-%B-%Y")
    new0=date.strftime("%A-%d-%B-%Y")
    if new[0] == '0':
        new = new[1:]
    dates.append(new)
    dates0.append(new0)

for date in dates:
    n = 'https://www.dhhs.vic.gov.au/media-release-coronavirus-update-victoria-' + dates0[dates.index(date)]
    n = n.replace(n[-16], "", 1)

    print(n)

https://www.dhhs.vic.gov.au/media-release-coronavirus-update-victoria-Saturday-7-November-2020
https://www.dhhs.vic.gov.au/media-release-coronavirus-update-victoria-Sunday-8-November-2020

In [6]:
generated_dates = pd.date_range(start='11/2/2020', end = datetime.today()-timedelta(days=1)).tolist()
#generated_dates = pd.date_range(start='11/7/2020', end = '11/11/2020').tolist()
dates = []
dates0 = []
for date in generated_dates:
    new=date.strftime("%d-%B-%Y")
    new0=date.strftime("%A-%d-%B-%Y")
    if new[0] == '0':
        new = new[1:]
    dates.append(new)
    dates0.append(new0)

confirmed = pd.DataFrame()
active = pd.DataFrame()
first = True

for date in dates:
    print("Starting to retrieve data for " + date)
    try: 
        url = 'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-' + date

        r = requests.get(url)
        html = r.text

        soup = BeautifulSoup(html)
        table = soup.find('table')

        rows = table.find_all('tr')
    except:
        try:
            url = 'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-' + str(0) + date 

            r = requests.get(url)
            html = r.text

            soup = BeautifulSoup(html)
            table = soup.find('table')

            rows = table.find_all('tr')
        except:
            try:
                url0 = 'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-' + date 
                url = url0[:-5]

                r = requests.get(url)
                html = r.text

                soup = BeautifulSoup(html)
                table = soup.find('table')

                rows = table.find_all('tr')
            except:
                try:
                    url0 = 'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-' + str(0) + date 
                    url = url0[:-5]

                    r = requests.get(url)
                    html = r.text

                    soup = BeautifulSoup(html)
                    table = soup.find('table')

                    rows = table.find_all('tr')
                except:
                    try:
                    
                        url = 'https://www.dhhs.vic.gov.au/coronavirus-update-for-victoria-' + dates0[dates.index(date)]
                        
                        r = requests.get(url)
                        html = r.text

                        soup = BeautifulSoup(html)
                        table = soup.find('table')

                        rows = table.find_all('tr')
                    except:
                        try:
                            url0 = 'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-' + dates0[dates.index(date)]
                            url = url0[:-5]
                            r = requests.get(url)
                            html = r.text

                            soup = BeautifulSoup(html)
                            table = soup.find('table')

                            rows = table.find_all('tr')
                        except:
                            try:
                                url = 'https://www.dhhs.vic.gov.au/coronavirus-update-for-victoria-' + date
                                r = requests.get(url)
                                html = r.text
                                soup = BeautifulSoup(html)
                                table = soup.find('table')
                                rows = table.find_all('tr')
                            except:
                                try:
                                    url0 = 'https://www.dhhs.vic.gov.au/media-release-coronavirus-update-victoria-' + dates0[dates.index(date)]
                                    url = url0.replace(url0[-16], "", 1)
                                    r = requests.get(url)
                                    html = r.text
                                    soup = BeautifulSoup(html)
                                    table = soup.find('table')
                                    rows = table.find_all('tr')
                                except:
                                    try:
                                        url = 'https://www.dhhs.vic.gov.au/media-release-coronavirus-update-victoria-' + date
                                        r = requests.get(url)
                                        html = r.text
                                        soup = BeautifulSoup(html)
                                        table = soup.find('table')
                                        rows = table.find_all('tr')
                                    except:
                                        url0 = 'https://www.dhhs.vic.gov.au/media-release-coronavirus-update-victoria-' + date
                                        url = url0[:-5]
                                        r = requests.get(url)
                                        html = r.text
                                        soup = BeautifulSoup(html)
                                        table = soup.find('table')
                                        rows = table.find_all('tr')
                                    
                        
        
    data = []
    for row in rows[1:]:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])
    result = pd.DataFrame(data)
    
    confirmed_cases = result.drop([2], axis=1).T.head()
    active_cases = result.drop([1], axis=1).T.head()
    
    confirmed_cases.columns = confirmed_cases.iloc[0]
    confirmed_cases.drop(confirmed_cases.index[0], inplace = True)
    confirmed_cases.columns = confirmed_cases.columns.str.upper()
    confirmed_cases.rename(index={1: date}, inplace=True)
    confirmed_cases = confirmed_cases[['HUME', 'MELBOURNE', 'MELTON', 'MORELAND', 'MOONEE VALLEY', 'WYNDHAM', 'MOORABOOL','MACEDON RANGES', 'HOBSONS BAY','YARRA','MARIBYRNONG','DAREBIN','BRIMBANK','TOTAL']]
 #   cols_to_sum = df.columns[ : df.shape[1]-1]

    #confirmed_cases['NWMPHN Total']= confirmed_cases[confirmed_cases.columns[:confirmed_cases.shape[1]-1]].sum(axis=1)
    #confirmed_cases.sort_index(axis=1, inplace = True)
    confirmed = confirmed.append(confirmed_cases)
    

    active_cases.columns = active_cases.iloc[0]
    active_cases.drop(active_cases.index[0], inplace = True)
    active_cases.columns = active_cases.columns.str.upper()
    active_cases.rename(index={2: date}, inplace=True)
    active_cases = active_cases[['HUME', 'MELBOURNE', 'MELTON', 'MORELAND', 'MOONEE VALLEY', 'WYNDHAM', 'MOORABOOL','MACEDON RANGES', 'HOBSONS BAY','YARRA','MARIBYRNONG','DAREBIN','BRIMBANK', 'TOTAL']]
    #active_cases['NWMPHN Total']= active_cases[active_cases].sum(axis=1)
    #active_cases.sort_index(axis=1, inplace = True)
    active = active.append(active_cases)
    #print(active_cases)

cols = ['HUME', 'MELBOURNE', 'MELTON', 'MORELAND', 'MOONEE VALLEY', 'WYNDHAM', 'MOORABOOL','MACEDON RANGES', 'HOBSONS BAY','YARRA','MARIBYRNONG','DAREBIN','BRIMBANK']
confirmed[cols] = confirmed[cols].apply(pd.to_numeric, errors='coerce', axis=1)
confirmed['NWMPHN region']= confirmed[confirmed.columns[:confirmed.shape[1]-1]].sum(axis=1)
confirmed.rename(columns={'TOTAL':'VIC'}, inplace=True)

active[cols] = active[cols].apply(pd.to_numeric, errors='coerce', axis=1)
active['NWMPHN region']=active[active.columns[:active.shape[1]-1]].sum(axis=1)
active.rename(columns={'TOTAL': 'VIC'}, inplace=True)
confirmed
active

Starting to retrieve data for 2-November-2020
Starting to retrieve data for 3-November-2020
Starting to retrieve data for 4-November-2020
Starting to retrieve data for 5-November-2020
Starting to retrieve data for 6-November-2020
Starting to retrieve data for 7-November-2020
Starting to retrieve data for 8-November-2020
Starting to retrieve data for 9-November-2020
Starting to retrieve data for 10-November-2020
Starting to retrieve data for 11-November-2020
Starting to retrieve data for 12-November-2020
Starting to retrieve data for 13-November-2020
Starting to retrieve data for 14-November-2020
Starting to retrieve data for 15-November-2020
Starting to retrieve data for 16-November-2020
Starting to retrieve data for 17-November-2020

,HUME,MELBOURNE,MELTON,MORELAND,MOONEE VALLEY,WYNDHAM,MOORABOOL,MACEDON RANGES,HOBSONS BAY,YARRA,MARIBYRNONG,DAREBIN,BRIMBANK,VIC,NWMPHN region
2-November-2020,4,1,5,1,0,10,0,0,2,1,0,7,7,49,38
3-November-2020,3,1,2,1,0,8,0,0,2,1,0,4,6,38,28
4-November-2020,2,1,2,1,0,6,0,0,1,1,0,2,4,30,20
5-November-2020,2,0,2,1,0,4,0,0,0,0,0,0,2,20,11
6-November-2020,2,0,2,0,0,3,0,0,0,0,0,0,1,15,8
7-November-2020,0,0,0,0,0,1,0,0,0,0,0,0,1,8,2
8-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0
9-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0
10-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0
11-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0
12-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0
13-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0
14-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0
15-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0
16-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0
17-November-2020,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0

In [8]:
confirmed

,HUME,MELBOURNE,MELTON,MORELAND,MOONEE VALLEY,WYNDHAM,MOORABOOL,MACEDON RANGES,HOBSONS BAY,YARRA,MARIBYRNONG,DAREBIN,BRIMBANK,VIC,NWMPHN region
2-November-2020,1664,883,1155,1052,812,2264,38,57,505,462,595,667,2019,20345,12173
3-November-2020,1664,883,1155,1052,812,2264,38,57,505,462,595,667,2019,20345,12173
4-November-2020,1664,882,1155,1052,813,2265,38,57,505,463,595,667,2018,20345,12174
5-November-2020,1663,884,1158,1052,813,2265,38,57,505,463,595,668,2016,20345,12177
6-November-2020,1663,884,1158,1051,813,2265,38,57,505,463,596,668,2014,20345,12175
7-November-2020,1661,885,1157,1050,813,2264,38,57,505,463,596,668,2014,20345,12171
8-November-2020,1661,885,1157,1050,813,2265,38,57,505,463,596,669,2014,20345,12173
9-November-2020,1661,888,1157,1049,814,2265,38,57,505,463,597,669,2013,20345,12176
10-November-2020,1661,887,1156,1048,812,2264,38,57,506,463,598,669,2013,20345,12172
11-November-2020,1662,894,1156,1047,810,2264,38,56,506,463,598,667,2015,20345,12176
12-November-2020,1662,893,1157,1047,811,2264,38,56,506,463,598,667,2015,20345,12177
13-November-2020,1662,893,1157,1047,811,2264,38,56,506,463,598,667,2015,20345,12177
14-November-2020,1662,893,1157,1046,811,2265,38,56,506,463,598,667,2015,20345,12177
15-November-2020,1662,893,1157,1047,811,2265,38,56,506,463,599,667,2015,20345,12179
16-November-2020,1663,893,1157,1047,811,2265,38,56,506,463,599,667,2016,20345,12181
17-November-2020,1663,893,1157,1047,810,2265,38,56,506,463,599,667,2016,20345,12180

In [9]:
confirmed

,HUME,MELBOURNE,MELTON,MORELAND,MOONEE VALLEY,WYNDHAM,MOORABOOL,MACEDON RANGES,HOBSONS BAY,YARRA,MARIBYRNONG,DAREBIN,BRIMBANK,VIC,NWMPHN region
2-November-2020,1664,883,1155,1052,812,2264,38,57,505,462,595,667,2019,20345,12173
3-November-2020,1664,883,1155,1052,812,2264,38,57,505,462,595,667,2019,20345,12173
4-November-2020,1664,882,1155,1052,813,2265,38,57,505,463,595,667,2018,20345,12174
5-November-2020,1663,884,1158,1052,813,2265,38,57,505,463,595,668,2016,20345,12177
6-November-2020,1663,884,1158,1051,813,2265,38,57,505,463,596,668,2014,20345,12175
7-November-2020,1661,885,1157,1050,813,2264,38,57,505,463,596,668,2014,20345,12171
8-November-2020,1661,885,1157,1050,813,2265,38,57,505,463,596,669,2014,20345,12173
9-November-2020,1661,888,1157,1049,814,2265,38,57,505,463,597,669,2013,20345,12176
10-November-2020,1661,887,1156,1048,812,2264,38,57,506,463,598,669,2013,20345,12172
11-November-2020,1662,894,1156,1047,810,2264,38,56,506,463,598,667,2015,20345,12176
12-November-2020,1662,893,1157,1047,811,2264,38,56,506,463,598,667,2015,20345,12177
13-November-2020,1662,893,1157,1047,811,2264,38,56,506,463,598,667,2015,20345,12177
14-November-2020,1662,893,1157,1046,811,2265,38,56,506,463,598,667,2015,20345,12177
15-November-2020,1662,893,1157,1047,811,2265,38,56,506,463,599,667,2015,20345,12179
16-November-2020,1663,893,1157,1047,811,2265,38,56,506,463,599,667,2016,20345,12181
17-November-2020,1663,893,1157,1047,810,2265,38,56,506,463,599,667,2016,20345,12180

In [45]:
from pandas import ExcelWriter

writer = ExcelWriter('test.xlsx')
all.to_excel(writer)
writer.save()

In [130]:
zones=pd.read_csv("zones.txt",delimiter="\t", header = None)

In [131]:
zones

                                              0
0                                Sydney">Sydney
1                          Melbourne">Melbourne
2                            Brisbane">Brisbane
3                            Adelaide">Adelaide
4                                  Perth">Perth
..                                          ...
99                         Devonport">Devonport
100                      Launceston">Launceston
101                      Ulverstone">Ulverstone
102                Alice Springs">Alice Springs
103  Canberra - Queanbeyan">Canberra-Queanbeyan

[104 rows x 1 columns]

In [140]:
url = "http://www.fullemployment.net/evi/3.0/evi_3.0.php?SUA_Name_2016=Morisset+-+Cooranbong&order=1"
    
r = requests.get(url)
html = r.text

soup = BeautifulSoup(html)
table = soup.find('table')
rows = table.find_all('tr')
data = []
for row in rows[1:]:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

result = pd.DataFrame(data) #table on the websitea

In [144]:
result = result[[0,2]]
result.columns=['SA2', 'EVI score']

In [145]:
result

                          SA2 EVI score
0  Bonnells Bay - Silverwater   0.26145
1       Morisset - Cooranbong   0.46206

In [157]:
df = pd.DataFrame()
for line in zones[0]:
    start = line.find(">",0,len(line))
    line = line[start+1:]
    #print(line)
    line = line.replace("-","+-+",1)
    #print(line)
    
    url = "http://www.fullemployment.net/evi/3.0/evi_3.0.php?SUA_Name_2016=" + line + "&order=1"
    
    r = requests.get(url)
    html = r.text

    soup = BeautifulSoup(html)
    table = soup.find('table')
    rows = table.find_all('tr')
    data = []
    for row in rows[1:]:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])

    final = pd.DataFrame(data) #table on the websitea
    
    df = df.append(final)
df

,0,1,2,3
0,Bidwill - Hebersham - Emerton,Sydney,1.07723,View Profile
1,Greenfield Park - Prairiewood,Sydney,1.16371,View Profile
2,Fairfield - West,Sydney,1.54497,View Profile
3,Fairfield,Sydney,1.11460,View Profile
4,Edensor Park,Sydney,1.24089,View Profile
...,...,...,...,...
95,Crace,Canberra - Queanbeyan,-2.97551,View Profile
96,Forde,Canberra - Queanbeyan,-2.36818,View Profile
97,Franklin,Canberra - Queanbeyan,-2.14122,View Profile
98,Gungahlin,Canberra - Queanbeyan,-1.63462,View Profile
99,Turner,Canberra - Queanbeyan,-2.95155,View Profile

In [158]:
df = df[[0,2]]
df.columns=['SA2', 'EVI score']

In [159]:
df

                              SA2 EVI score
0   Bidwill - Hebersham - Emerton   1.07723
1   Greenfield Park - Prairiewood   1.16371
2                Fairfield - West   1.54497
3                       Fairfield   1.11460
4                    Edensor Park   1.24089
..                            ...       ...
95                          Crace  -2.97551
96                          Forde  -2.36818
97                       Franklin  -2.14122
98                      Gungahlin  -1.63462
99                         Turner  -2.95155

[1801 rows x 2 columns]

In [163]:
All_EVI = pd.merge(df, details, on='SA2', how='inner')

In [187]:
L_evi = pd.merge(df, details, on = 'SA2', how='left')
L_evi

,SA2,EVI score_x,"% Employed in Accommodation, Cafes and Restaurants",% Employed in Construction,% Employed in Finance and Insurance,% Employed in Manufacturing,% Employed in Mining,% Employed in Property and Business Services,% Employed in Retail Trade,% without post secondary school qualifications,...,Median household income ($ per week),Median individual income ($ per week),Median mortgage repayment ($ per month),Median rent ($ per week),Part-time employment as a % total,SA3,SA4,State,Total labour force participation rate,Unemployment rate
0,Bidwill - Hebersham - Emerton,1.07723,5.82%,8.73%,3.23%,10.01%,0.05%,0.92%,11.49%,57.09%,...,$1067,$471,$1528,$265,30.14%,Mount Druitt,Sydney - Blacktown,New South Wales,52.86%,13.17%
1,Greenfield Park - Prairiewood,1.16371,5.49%,10.21%,4.44%,11.97%,0.16%,1.31%,11.01%,52.57%,...,$1430,$445,$2000,$420,31.10%,Fairfield,Sydney - South West,New South Wales,52.56%,8.46%
2,Fairfield - West,1.54497,6.65%,10.67%,3.78%,11.27%,0.17%,1.27%,11.74%,55.13%,...,$1203,$419,$1950,$410,32.61%,Fairfield,Sydney - South West,New South Wales,49.20%,10.53%
3,Fairfield,1.11460,6.19%,10.20%,4.81%,10.32%,0.14%,1.09%,10.46%,52.91%,...,$969,$395,$1625,$350,31.71%,Fairfield,Sydney - South West,New South Wales,44.27%,14.48%
4,Edensor Park,1.24089,6.93%,11.01%,4.63%,10.00%,0.12%,2.02%,11.28%,51.87%,...,$1637,$488,$2000,$425,31.30%,Fairfield,Sydney - South West,New South Wales,58.63%,8.05%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,Crace,-2.97551,6.18%,6.06%,2.45%,0.93%,0.00%,1.44%,5.87%,23.37%,...,$2486,$1242,$2500,$380,22.04%,Gungahlin,Australian Capital Territory,Australian Capital Territory,82.12%,3.20%
1797,Forde,-2.36818,5.15%,6.49%,1.73%,1.60%,0.22%,1.51%,7.27%,28.47%,...,$2944,$1327,$2600,$510,24.03%,Gungahlin,Australian Capital Territory,Australian Capital Territory,82.82%,4.13%
1798,Franklin,-2.14122,9.64%,4.89%,2.22%,1.15%,0.00%,1.48%,8.43%,28.19%,...,$2114,$1002,$2000,$373,24.44%,Gungahlin,Australian Capital Territory,Australian Capital Territory,79.74%,5.06%
1799,Gungahlin,-1.63462,9.67%,6.48%,1.42%,2.20%,0.00%,0.99%,8.86%,31.60%,...,$2066,$895,$2039,$380,25.70%,Gungahlin,Australian Capital Territory,Australian Capital Territory,76.86%,6.44%
1800,Turner,-2.95155,7.93%,1.59%,1.77%,1.38%,0.00%,1.42%,5.30%,21.90%,...,$1924,$1125,$2015,$400,25.37%,North Canberra,Australian Capital Territory,Australian Capital Territory,73.61%,5.43%

In [164]:
R_evi = pd.merge(df, details, on='SA2', how = 'right')
R_evi

,SA2,EVI score_x,"% Employed in Accommodation, Cafes and Restaurants",% Employed in Construction,% Employed in Finance and Insurance,% Employed in Manufacturing,% Employed in Mining,% Employed in Property and Business Services,% Employed in Retail Trade,% without post secondary school qualifications,...,Median household income ($ per week),Median individual income ($ per week),Median mortgage repayment ($ per month),Median rent ($ per week),Part-time employment as a % total,SA3,SA4,State,Total labour force participation rate,Unemployment rate
0,Bidwill - Hebersham - Emerton,1.07723,5.82%,8.73%,3.23%,10.01%,0.05%,0.92%,11.49%,57.09%,...,$1067,$471,$1528,$265,30.14%,Mount Druitt,Sydney - Blacktown,New South Wales,52.86%,13.17%
1,Greenfield Park - Prairiewood,1.16371,5.49%,10.21%,4.44%,11.97%,0.16%,1.31%,11.01%,52.57%,...,$1430,$445,$2000,$420,31.10%,Fairfield,Sydney - South West,New South Wales,52.56%,8.46%
2,Fairfield - West,1.54497,6.65%,10.67%,3.78%,11.27%,0.17%,1.27%,11.74%,55.13%,...,$1203,$419,$1950,$410,32.61%,Fairfield,Sydney - South West,New South Wales,49.20%,10.53%
3,Fairfield,1.11460,6.19%,10.20%,4.81%,10.32%,0.14%,1.09%,10.46%,52.91%,...,$969,$395,$1625,$350,31.71%,Fairfield,Sydney - South West,New South Wales,44.27%,14.48%
4,Edensor Park,1.24089,6.93%,11.01%,4.63%,10.00%,0.12%,2.02%,11.28%,51.87%,...,$1637,$488,$2000,$425,31.30%,Fairfield,Sydney - South West,New South Wales,58.63%,8.05%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,Larapinta,-2.13288,5.30%,8.11%,0.59%,1.86%,0.47%,1.62%,7.35%,34.01%,...,$2040,$1059,$2000,$368,19.12%,Alice Springs,Northern Territory - Outback,Northern Territory,80.13%,2.88%
1799,Mount Johns,-2.58463,7.66%,4.90%,0.89%,1.12%,0.19%,1.54%,8.73%,28.80%,...,$2080,$1164,$1842,$331,16.75%,Alice Springs,Northern Territory - Outback,Northern Territory,83.21%,2.27%
1800,Ross,-1.08349,7.41%,9.57%,0.28%,3.00%,0.38%,2.25%,7.41%,36.90%,...,$1685,$769,$2383,$210,22.20%,Alice Springs,Northern Territory - Outback,Northern Territory,63.47%,3.68%
1801,Goolwa - Port Elliot,NaN,10.11%,11.05%,1.72%,5.83%,1.38%,2.04%,11.89%,44.07%,...,$835,$482,$1213,$250,48.26%,Fleurieu - Kangaroo Island,South Australia - South East,South Australia,40.96%,7.16%
1802,Victor Harbor,NaN,10.32%,9.90%,1.70%,4.29%,1.61%,1.88%,13.59%,45.79%,...,$832,$481,$1287,$260,48.99%,Fleurieu - Kangaroo Island,South Australia - South East,South Australia,40.81%,7.29%

In [175]:
df[df.SA2 == 'Victor Harbor']

Empty DataFrame
Columns: [SA2, EVI score]
Index: []

In [181]:
R_evi['EVI score_x'].isnull().sum()

2

In [191]:
R_evi.isnull().sum()

SA2                                                   0
EVI score_x                                           2
% Employed in Accommodation, Cafes and Restaurants    0
% Employed in Construction                            0
% Employed in Finance and Insurance                   0
% Employed in Manufacturing                           0
% Employed in Mining                                  0
% Employed in Property and Business Services          0
% Employed in Retail Trade                            0
% without post secondary school qualifications        0
Average household size                                0
EVI score_y                                           0
Employment-Population ratio                           0
Female labour force participation rate                0
Female unemployment rate                              0
Male labour force participation rate                  0
Male unemployment rate                                0
Median Age                                            0
Median family income ($ per week)                     0
Median household income ($ per week)                  0
Median individual income ($ per week)                 0
Median mortgage repayment ($ per month)               0
Median rent ($ per week)                              0
Part-time employment as a % total                     0
SA3                                                   0
SA4                                                   0
State                                                 0
Total labour force participation rate                 0
Unemployment rate                                     0
dtype: int64

In [185]:
All_EVI[All_EVI.SA2 == 'Victor Harbor']

Empty DataFrame
Columns: [SA2, EVI score_x, % Employed in Accommodation, Cafes and Restaurants, % Employed in Construction, % Employed in Finance and Insurance, % Employed in Manufacturing, % Employed in Mining, % Employed in Property and Business Services, % Employed in Retail Trade, % without post secondary school qualifications, Average household size, EVI score_y, Employment-Population ratio, Female labour force participation rate, Female unemployment rate, Male labour force participation rate, Male unemployment rate, Median Age, Median family income ($ per week), Median household income ($ per week), Median individual income ($ per week), Median mortgage repayment ($ per month), Median rent ($ per week), Part-time employment as a % total, SA3, SA4, State, Total labour force participation rate, Unemployment rate]
Index: []

[0 rows x 29 columns]

In [192]:
writer = ExcelWriter('EVI.xlsx')
R_evi.to_excel(writer)
writer.save()